.about_hotel {
  margin-bottom: 72px;
}

.about_hotel__links {
  margin-bottom: 40px;
  padding-bottom: 18.87px;
  overflow: hidden;
}

.about_hotel__tabs {
  &>div {
    display: flex;
    justify-content: space-between;
  }
}

.about_hotel__tab {
  @include font($fs_14, $lh_18);
  width: max-content;
  font-weight: 700;
  color: var(--text_dark);
  padding: 0;
  padding-bottom: 14.87px;

  &::before {
    @include before;
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: transparent;
  }
}

.about_hotel__tab--active {
  color: var(--accent_main);
  pointer-events: none;

  &::before {
    background-color: currentColor;
  }
}

.about_hotel__contents {
  @include font($fs_12, $lh_15);
  color: var(--text_dark);
  position: relative;
  overflow: hidden;
}

.about_hotel__content_title {
  @include title;
  width: 100%;
  margin-bottom: 29px;
}

.about_hotel__content {
  position: absolute;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
  opacity: 0;
  z-index: -5;
  transform: translateY(-30px);
  transition: transform $duration_03, opacity $duration_03;
}

.about_hotel__content--active {
  position: relative;
  z-index: 1;
  transform: translateY(0);
  opacity: 1;
}

.about_hotel__box {
  width: 100%;
  border-radius: $br_08;
  overflow: hidden;
  margin-bottom: 33px;
}

.about_hotel__box--half {
  width: calc(50% - 16px);
  border-radius: $br_08 $br_08 $br_08 0;
}

.about_hotel__box--two_el {
  justify-content: flex-start;

  ul {
    width: calc(100% / 3);
  }
}

@media (max-width: $tablet_max) {
  .about_hotel__box--two_el ul {
    width: calc(100% / 2);
  }
}

@media (max-width: $mobile_max) {
  .about_hotel {
    margin-bottom: 10px;
  }

  .about_hotel__box--two_el ul,
  .about_hotel__box--half,
  .about_hotel__box--half ul {
    width: 100%;
  }
}
