.activities {
  margin-bottom: 83px;
}

.activities__title {
  @include title;
  margin-bottom: 42px;
}

.activities__slider {
  @include flex_center;
  flex-wrap: wrap;
  width: calc(100% + 30px);
  margin: 0 -15px;
  overflow-x: hidden;

  &>div {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (max-width: $mobile_max) {
  .activities {
    margin-bottom: 20px;
  }

  .activities__title {
    @include title;
    margin-bottom: 15px;
  }

  .activities__slider {
    width: calc(100% + 15px);
    margin: 0;
    margin-right: -15px;

    &>div {
      flex-wrap: nowrap;
    }
  }
}
