.footer_form {

  form {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    border-radius: $br_06;
    overflow: hidden;
  }

  label {
    @include visually_hidden;
  }

  textarea,
  input {
    @include footer_input;
    display: flex;
    padding: 18px 23px 17px;
    margin-bottom: 15px;
    background-color: var(--bg_light);
    border: none;
    -webkit-appearance: none;
    border-radius: 0;
    border-radius: $br_04;
    outline: 0;
    resize: none;
    transition: $transition;

    @each $placeholder in $placeholders_dots {
      &::#{$placeholder} {
        @include footer_input(1);
        transition: opacity $duration_03;
      }
    }

    @each $placeholder in $placeholders_dot {
      &:#{$placeholder} {
        @include footer_input(1);
        transition: opacity $duration_03;
      }
    }

    &:focus {

      @each $placeholder in $placeholders_dots {
        &::#{$placeholder} {
          opacity: 0;
        }
      }

      @each $placeholder in $placeholders_dot {
        &:#{$placeholder} {
          opacity: 0;
        }
      }
    }
  }

  textarea {
    width: 100%;
    min-height: 123px;
  }

  input {
    width: calc(50% - 15px);
  }

  [type="submit"] {
    @include button;
    @include flex_center(1);
    @include font($fs_12, $lh_15);
    position: relative;
    width: 100%;
    max-width: 160px;
    min-height: 50px;
    margin-top: 7px;
    font-weight: 700;
    color: var(--bg_white);
    background-color: var(--accent_main);
    border-radius: $br_04;
    transition: $transition;

    &::before {
      @include before;
      width: 100%;
      height: 100%;
      z-index: 10;
    }

    &:active {
      opacity: $opacity;
    }
  }
}

.footer_form__title {
  @include footer_title;
  margin: 0;
  margin-bottom: 34px;
}

.footer_form__placeholder {
  @include font($fs_12, $lh_15);
  display: flex;
  align-self: center;
  margin-top: 10px;
  font-weight: 700;
  color: var(--text_lightest);
}

@media (max-width: $mobile_max) {
  .footer_form {
    flex-direction: column;

    input {
      width: calc(100%);
    }
  }

  .footer_form__title {
    margin-top: 15px;
  }
}

@media (min-width: $no_mobile) {

  [type="submit"]:hover,
  [type="submit"]:focus {
    background-color: var(--btn_hover);
  }
}
