.header_main {
  background-color: var(--bg_white);
}

.header_main__inner {
  @include flex_center;
  justify-content: space-between;
  min-height: 120px;
}

.header_main__cart {
  position: relative;
  display: flex;
  align-items: flex-end;
  width: 34px;
  height: 34px;
  color: var(--text_black);
  transition: color $duration_03, opacity $duration_03;
  margin-left: auto;
  margin-right: 4.8%;

  &:active {
    opacity: $opacity;

    .header_main__cart_count {
      opacity: $opacity;
    }
  }
}

.header_main__cart_count {
  @include font($fs_10, $lh_10);
  @include flex_center(1);
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  font-weight: 600;
  border-radius: 50%;
  color: var(--bg_white);
  background-color: var(--accent_main);
  transition: $transition;
}

.header_main__menu {
  display: none;
}

@media (max-width: $mobile_max) {
  .header_main__inner {
    flex-wrap: wrap;
  }

  .header_main__logo {
    width: calc(100% - 95px);
    text-align: left;

    svg {
      max-width: 100%;
    }
  }
}

@media (min-width: $no_mobile) {

  .header_main__cart:hover,
  .header_main__cart:focus {

    .header_main__cart_count {
      background-color: var(--btn_hover);
    }
  }
}
