.main {
  color: var(--text_dark);
  margin-bottom: 20px;
}

.main__head {
  @include flex_center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.main__rating_hotel {
  display: flex;
  margin-bottom: 4px;

  span {
    display: block;
    width: 6px;
    height: 6px;
    margin-left: 2px;
    background-image: url("../img/star.svg");
    background-repeat: no-repeat;
  }
}

.main__title {
  @include font(24, 30);
  display: inline;
  vertical-align: middle;
  margin: 0;
  padding-right: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.main__mark {
  display: inline;
  vertical-align: middle;
}

.main__text {
  margin: 0;
}

.main__rating_user {
  @include flex_center(1);
  flex-wrap: wrap;
  max-width: 65px;

  p {
    font-weight: 700;
    margin: 0;
    margin-top: 2px;

    span {
      @include font(14, 18);
    }
  }
}

.main__info {
  display: grid;
  grid-template: repeat(2, auto) / repeat(2, auto);
  grid-gap: 27px 30px;
}

.main__slider_wrap {
  grid-row: 1/span 2;
}
