.reviews_slider {
  position: relative;
}

.reviews_slider__inner {
  @include container(731, 15);
  overflow: hidden;
}

.reviews_slider__btn {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  transform: translateY(-50%);
  background-image: url("../img/arrow__reviews_slider.svg");
  background-size: 10px 18px;
  background-position: 16px center;
  background-repeat: no-repeat;
  border-radius: 50%;
  outline: none;
  z-index: 1;
  cursor: pointer;
  transition: background-color $duration_03, opacity $duration_03;

  &:active {
    opacity: $opacity;
  }
}

.reviews_slider__btn--prev {
  left: 16px;
  transform: translateY(-50%) rotate(180deg);
}

.reviews_slider__btn--next {
  right: 18px;
}

@media (max-width: $mobile_max) {

  .reviews_slider__btn {
    display: none;
  }
}



@media (min-width: $no_mobile) {

  .reviews_slider__btn:hover,
  .reviews_slider__btn:focus {
    background-color: var(--text_white);
  }
}
