.search {
  width: 100%;
  max-width: 350px;
  height: 40px;
  margin-left: 10%;

  form {
    border-radius: $br_06;
  }

  input {
    @include search_input;
    border-radius: $br_06 0 0 $br_06;

    @each $placeholder in $placeholders_dots {
      &::#{$placeholder} {
        @include search_input(1);
      }
    }

    @each $placeholder in $placeholders_dot {
      &::#{$placeholder} {
        @include search_input(1);
      }
    }

    [button="submit"] {
      border-radius: 0 $br_06 $br_06 0;
    }
  }

  .search__toggle {
    @include button;
    @include flex_center(1);
    display: none;
    position: relative;
    min-width: 65px;
    max-width: 65px;
    height: 100%;
    color: var(--bg_white);
    background-color: var(--accent_main);
    border-radius: 0 $br_06 $br_06 0;
    transition: background-color $duration_03;

    &::before {
      @include before;
      width: 100%;
      height: 100%;
      z-index: 10;
    }

    &:active {
      opacity: 1;
    }
  }
}

@media (max-width: $tablet_max) {
  .search {
    max-width: 35%;
  }
}

@media (max-width: $mobile_max) {
  .search {
    max-width: 65px;
    margin-left: 0;

    form {
      width: 65px;
      margin-left: auto;
    }

    [button="submit"] {
      border-radius: $br_06;
    }

    .search__toggle {
      display: flex;
      position: absolute;
      border-radius: $br_06;
      right: 0;
      top: 0;
      z-index: 20;
    }
  }

  .search--open {
    form {
      width: 100%;
      overflow: visible;
      justify-content: flex-end;
    }

    input {
      position: absolute;
      right: 0;
      width: 265px;
      padding-right: 65px;
    }

    [type="submit"] {
      border-radius: 0 $br_06 $br_06 0;
      z-index: 10;
    }

    .search__toggle {
      z-index: -10;
      opacity: 0;
    }
  }
}

@media (min-width: $no_mobile) {

  .search__toggle:hover,
  .search__toggle:focus {
    background-color: var(--btn_hover);
  }
}
