// sizes
$mobile_min: 320px;
$mobile_max: 767px;
$tablet_max: 1024px;
$desktop_max: 1440px;
$no_mobile: 768px;

// color scheme
// $white: #ffffff;
// $black: #000000;
// $accent_main: #EC1F46;
// $accent_1: #F2994A;
// $text_black: #000000;
// $text_dark: #333333;
// $text_light: #BDBDBD;
// $text_lightest: #E0E0E0;
// $text_white: #ffffff;
// $bg_dark:#0A223D;
// $bg_light:#F5FAFE;
// $bg_white:#ffffff;
// $btn_slider_reviews:#828282;

// dark theme
:root,
html {
  // static
  --white: #ffffff;
  --black: #000000;
  --accent_1: #F2994A;
  --text_lightest: #E0E0E0;
  --moon: #0A223D;
  --moon_hover: #F0EA7F;
  --sun: #EDE437;

  // changing
  --accent_main: #EC1F46;
  --text_black: #000000;
  --text_dark: #333333;
  --text_light: #BDBDBD;
  --text_white: #ffffff;
  --bg_dark: #0A223D;
  --bg_light: #F5FAFE;
  --bg_white: #ffffff;
  --btn_text_white: #ffffff;
  --btn_slider_reviews: #828282;
  --btn_hover: #AD1732;
  --logo: #0A223D;
}

html.dark {
  // --accent_main: #EDE437;
  // --accent_main: #F0EA7F;
  --accent_main: #F2B1BD;
  --text_black: #E5E5E5;
  --text_dark: #CCCCCC;
  --text_light: #F1F2FA;
  --text_white: #E1F1FA;
  --bg_dark: #3F628A;
  --bg_light: #345070;
  --bg_white: #22354A;
  --btn_text_white: #22354A;
  --btn_slider_reviews: #A6A6A6;
  --btn_hover: #B3828B;
  --logo: #F1F2FA;
}

// @media screen and (prefers-color-scheme: light) {
//   --accent_main: #EC1F46;
//   --text_black: #000000;
//   --text_dark: #333333;
//   --text_light: #BDBDBD;
//   --text_white: #ffffff;
//   --bg_dark: #0A223D;
//   --bg_light: #F5FAFE;
//   --bg_white: #ffffff;
//   --btn_text_white: #ffffff;
//   --btn_slider_reviews: #828282;
//   --btn_hover: #F0EA7F;
// }

// @media screen and (prefers-color-scheme: light) {
//   // --accent_main: #EDE437;
//   --accent_main: #F0EA7F;
//   // --accent_main: #A10521;
//   --text_black: #E5E5E5;
//   --text_dark: #CCCCCC;
//   --text_light: #F1F2FA;
//   --text_white: #8FA5BD;
//   --bg_dark: #3F628A;
//   --bg_light: #345070;
//   --bg_white: #22354A;
//   --btn_text_white: #22354A;
//   --btn_slider_reviews: #A6A6A6;
//   --btn_hover: #EC1F46;
// }


// fonts size
$main_font: 14px;

$fs_8: 8;
$fs_10: 10;
$fs_12: 12;
$fs_13: 13;
$fs_14: 14;
$fs_16: 16;
$fs_18: 18;
$fs_24: 24;
$fs_36: 36;

$lh_10: 10;
$lh_13: 13;
$lh_12: 14;
$lh_15: 15;
$lh_16: 16;
$lh_18: 18;
$lh_19: 19;
$lh_20: 20;
$lh_22: 22;
$lh_23: 23;
$lh_25: 25;
$lh_30: 30;
$lh_33: 33;
$lh_45: 45;

// another
$transition: all 0.3s;
$duration_03: 0.3s;
$duration_06: 0.6s;
$opacity_025: 0.25;
$opacity: 0.87;
$opacity_08: 0.8;

$br: 8px;
$bs_slider: 0 4px 4px rgba(var(--black), $opacity_025);

$placeholders_dots: "-moz-placeholder",
"-webkit-input-placeholder",
"placeholder";
$placeholders_dot: "-moz-placeholder",
"-ms-input-placeholder";

// $ls_006: 0.06em;

// retina
$retina_dpi: 144dpi;
$retina_dppx: 1.5dppx;
