// sizes
$mobile_min: 320px;
$mobile_max: 767px;
$tablet_max: 1024px;
$desktop_max: 1440px;
$no_mobile: 768px;


// dark theme
:root,
html {
  // static
  --white: #ffffff;
  --black: #000000;
  --accent_1: #F2994A;
  --text_lightest: #E0E0E0;
  --moon: #0A223D;
  --moon_hover: #F0EA7F;
  --sun: #EDE437;
  --icon_mail: #BDBDBD;
  --shadow_black: rgba(0, 0, 0, 0.25);

  // changing
  --accent_main: #EC1F46;
  --text_black: #000000;
  --text_dark: #333333;
  --text_light: #BDBDBD;
  --text_white: #ffffff;
  --bg_dark_message: rgba(10, 34, 61, 0.8);
  --bg_dark: #0A223D;
  --bg_light: #F5FAFE;
  --bg_white: #ffffff;
  --bg_overlay: rgba(255, 255, 255, 0.4);
  --btn_text_white: #ffffff;
  --btn_slider_reviews: #828282;
  --btn_hover: #AD1732;
  --logo_header: #0A223D;
  --logo_footer: #EC1F46;
  --tick: #333333;
  --error_message: #FF4D4D;
}

html.dark {
  --accent_main: #F2B1BD;
  --text_black: #E5E5E5;
  --text_dark: #CCCCCC;
  --text_light: #D9D9D9;
  --text_white: #E1F1FA;
  --bg_dark_message: rgba(52, 80, 112, 0.8);
  --bg_dark: #345070;
  --bg_light: #283E57;
  --bg_white: #0A223D;
  --bg_overlay: rgba(10, 34, 61, 0.7);
  --btn_text_white: #22354A;
  --btn_slider_reviews: #A6A6A6;
  --btn_hover: #B3828B;
  --logo_header: #F1F2FA;
  --logo_footer: #AD1732;
  --tick: #B3828B;
  --error_message: #E6A8B3;
}


// fonts size
$main_font: 14;

$fs_8: 8;
$fs_10: 10;
$fs_12: 12;
$fs_13: 13;
$fs_14: 14;
$fs_16: 16;
$fs_18: 18;
$fs_24: 24;
$fs_36: 36;

$lh_10: 10;
$lh_13: 13;
$lh_14: 14;
$lh_15: 15;
$lh_16: 16;
$lh_18: 18;
$lh_19: 19;
$lh_20: 20;
$lh_22: 22;
$lh_23: 23;
$lh_25: 25;
$lh_30: 30;
$lh_33: 33;
$lh_45: 45;

// another
$transition: all 0.3s;
$duration_03: 0.3s;
$duration_06: 0.6s;
$duration_07: 0.7s;
$opacity_025: 0.25;
$opacity: 0.87;
$opacity_08: 0.8;

$br_03: 3px;
$br_04: 4px;
$br_06: 6px;
$br_08: 8px;
$bs_slider: 0 0 4px 4px var(--shadow_black);

$placeholders_dots: "-moz-placeholder",
"-webkit-input-placeholder",
"placeholder";
$placeholders_dot: "-moz-placeholder",
"-ms-input-placeholder";

// $ls_006: 0.06em;

// retina
$retina_dpi: 144dpi;
$retina_dppx: 1.5dppx;
