@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "Muli";

  font-display: swap;
  src: url("../fonts/muli-300.woff2") format("woff2"), url("../fonts/muli-300.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Muli";

  font-display: swap;
  src: url("../fonts/muli-400.woff2") format("woff2"), url("../fonts/muli-400.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "Muli";

  font-display: swap;
  src: url("../fonts/muli-600.woff2") format("woff2"), url("../fonts/muli-600.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Muli";

  font-display: swap;
  src: url("../fonts/muli-700.woff2") format("woff2"), url("../fonts/muli-700.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Nunito";

  font-display: swap;
  src: url("../fonts/nunito-400.woff2") format("woff2"), url("../fonts/nunito-400.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "Nunito";

  font-display: swap;
  src: url("../fonts/nunito-600.woff2") format("woff2"), url("../fonts/nunito-600.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 800;
  font-family: "Nunito";

  font-display: swap;
  src: url("../fonts/nunito-800.woff2") format("woff2"), url("../fonts/nunito-800.woff") format("woff");
}
