html,
body {
  height: 100%;
  // font-size: $main_font*1px;
}

body {
  min-width: $mobile_min;
  margin: 0;
  font-weight: 400;
  font-family: "Muli", sans-serif;
  word-wrap: normal;
  color: var(--text_dark);
  background-color: var(--bg_light);
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

a {
  color: var(--text_dark);
  text-decoration: none;
}

a:focus {
  outline: none;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  transition: background-color $duration_03;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

.body_hidden {
  overflow-y: hidden;
  position: fixed;
  width: 100%;
}
