.mark {
  @include font($fs_8, $lh_10);
  padding: 8px 2px 7px;
  font-weight: 600;
  background-color: var(--accent_main);
  color: var(--btn_text_white);
  border-radius: $br_04;
  text-align: center;
}

.mark--main {
  @include font($fs_10, $lh_13);
  padding: 3px 9px 4px;
  border-radius: $br_03;
}
